 <!--Main Content-->
 <div class="my-5">
    <div class="mx-auto w-25 " style="max-width:100%;">
      <h2 class="text-center mb-3">Update Event</h2>
      <form  [formGroup]="form" (ngSubmit)="submit()" >

        
      
        <div class="row">
          <div class="col-md-12 form-group mb-3">
            <label for="description" class="form-label">nouveau description de l'évennement</label>
            <textarea id="description" formControlName="description" type="text" name="description"  class="form-control" placeholder="nouveau description de l'évennement" required></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 form-group mb-3">
            <label for="place" class="form-label">nouvelle place de l'event</label>
            <textarea id="place" formControlName="place" type="text" name="place"  class="form-control" placeholder="nouvelle place de l'event" required></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 form-group mb-3">
            <label for="titre" class="form-label">nouveau titre de l'event</label>
            <textarea id="titre" formControlName="titre" type="text" name="titre"  class="form-control" placeholder="nouveau titre de l'event" required></textarea>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="date" class="form-label">nouvelle date de l'event</label>
              <textarea id="date" formControlName="date" type="text" name="date"  class="form-control" placeholder="nouvelle date de l'event" required></textarea>
            </div>
          </div>


       
        <div class="row">
          <div class="col-md-12 form-group">
            <button [disabled]="!form.valid" class="btn btn-primary w-100" type="submit" value="Submit">Button</button>
          </div>
        </div>

        <div>
          
        </div>
      </form>

    </div>
  </div>
  
